language: python
python:
  - "3.8"
  
script:
  - python ./_repo_xml_generator.py
  
after_success: |
    git config user.name "Travis CI"
    git config user.email "Travis CI"
    git checkout -q master
    git add zips/*.*
    git commit --allow-empty -m "Update repo [skip ci]"
    git remote add authenticated https://${GH_TOKEN}@github.com/DaedalusBLN/DaedalusBLN.github.io.git > /dev/null 2>&1
    git push --quiet authenticated master &>/dev/null
